<!DOCTYPE html>
<html lang="ja">
<head>
<% content_for :title do %>
TOEIC::HACK | Part3/4
<% end %>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" href="top.css" type="text/css">

    
</head>

<body>
<%= render "shared/header2" %>
<article class="kiji">
  
  <div class="box10">
    <h1>ザックリ解説</h1>
    <ul class=part1_row>
      <li>質問文から会話の内容を予測する。
      <ul class=part1_row>
        <li>Where is the conversation～(どこで会話をしているか)</li>
        <p>会話の内容から場所を予測する。</p>
        <li>What dose the man want to do?(男は何がしたい)</li>
        <p>男は特定の場所で何かをしたい。</p>
        <li>What dose the reason for the additional charge?(追加料金の理由は何？)</li>
        <p>男のやりたい事には追加料金が発生する。</p>
      </ul>
      </li>
    </ul>
  </div>
  <div class="box11">
    <h2>詳しく説明(1つ目)</h2>
    <ul class=part1_row>
      <li>Whereとdoes conversationを見つけたら、
      <ul class=part1_row>
        <li>人が会話をする場所をイメージしておく。</li>
        <li>例えばオフィス。ある社員がある社員にPCについて質問している？</li>
        <li>例えばバス亭。ある人がある人にバスの行き先ついて質問している？</li>
        <li>例えば駅。お客さんが駅員に切符について質問している？</li>
      </ul>
      </li>
  </div>
  <div class="box11">
    <h2>詳しく説明(2つ目)</h2>
    <ul class=part1_row>
      <li>Whatとdoseとwant to doを見つけたら、
      <ul class=part1_row>
        <li>ある男がその場所で何かをしたがっている。</li>
        <li>オフィスの場合、最新のソフトウェアの使い方を知りたい？</li>
        <li>バス亭の場合、駅に行きたいがこのバスはその駅に行くのか情報を得たい？</li>
        <li>駅の場合、お客さんは切符を買い替えたい？</li>
      </ul>
      </li>
  </div>
  <div class="box11">
    <h2>詳しく説明(3つ目)</h2>
    <ul class=part1_row>
      <li>Whereとreasonとadditional chargeを見つけたら、
      <ul class=part1_row>
        <li>ある男がやりたい事には追加料金が発生する。</li>
        <li>オフィスの場合、追加料金が発生する場面はあるか？</li>
        <li>バス停の場合、追加料金が発生する場面はあるか？</li>
        <li>駅の場合、切符の買い替えをしたいなら、追加料金が発生する？</li>
      </ul>
      </li>
  </div>
    
  
</article>
</body>
</html>