<div class="contents_row">
    <h1>
      投稿が完了しました。
    </h1>
</div>
<div class="contents_row">
    <div class="button">
        <a class="btn-circle-border-simple" href="/tops">トップへ戻る</a>
    </div>
</div>