<!DOCTYPE html>
<html lang="ja">
<head>
<% content_for :title do %>
TOEIC::HACK | 投稿完了
<% end %>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" href="top.css" type="text/css">

</head>

<body>
    <%= render "shared/header1" %>
    <%= render "shared/create" %>
</body>
</html>