<!DOCTYPE html>
<html lang="ja">
<head>
<% content_for :title do %>
TOEIC::HACK | Part1
<% end %>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" href="top.css" type="text/css">

    
</head>

<body>
<%= render "shared/header2" %>
<article class="kiji">
  <div class="box10">
     <h1>ザックリ解説</h1>
    <ul class=part1_row>
      <li>頭の中で状況描写をする。
      <ul class=part1_row>
        <li>場所はどこどこだなぁ。</li>
        <li>誰々が何々しているなぁ。</li>
      </ul>
      </li>
      <li>現在を意味する用法を覚える。
      <ul class=part1_row>
        <li>主語＋be動詞＋～ing (私が～している。)</li>
        <li>主語＋be動詞＋being+過去分詞 ((今まさに)～が～されている所だ。)</li>
        <li>主語＋have＋been+過去分詞 or ～ing (～されている。～している。)</li>
      </ul>
      </li>
    </ul>
  </div>
   
  <div class="box11">
    <h2>実際に画像で解説</h2>
    <img src=assets/board-2449726_640.jpg alt="TOEIC Part1対策">
    <h2>状況描写</h2>
      <li>場所は室内。</li>
      <li>男の人がペンを持ち、ホワイトボードに何か書いている。</li>
      <li>半袖シャツを着ている。</li>
      <P>これくらいの描写を頭の中でさっとすればOK。</p>
    <h2>現在を意味するなら？</h2>
      <li>The man ＋ is ＋～ing (男の人が～している。)</li>
      <P>状況描写とほぼ同時にこの表現をイメージできればOK。</p>
  </div>
    
  <div class="box11">
    <h2>実際に画像で解説</h2>
    <img src=assets/african-descent-3472462_640.jpg alt="TOEIC Part1対策">
    <h2>状況描写</h2>
      <li>場所はオフィス。複数人で会議をしている。</li>
      <li>女の人が皆の前に立ち、付箋を壁に貼っている。</li>
      <P>これくらいの描写を頭の中でさっとすればOK。</p>
    <h2>現在を意味するなら？</h2>
      <li>The woman ＋ is ＋～ing (女の人が～している。)</li>
      <li>The tag ＋ is ＋ being + put/labeled (付箋が(今まさに)貼られている。)</li>
      <P>状況描写とほぼ同時にこの表現をイメージできればOK。</p>
  </div>
   
  <div class="box11">
     <h2>実際に画像で解説</h2>
    <img src=assets/training-3207841_640 alt="TOEIC Part1対策">
    <h2>状況描写</h2>
      <li>場所は室内。デスクで作業をしている。</li>
      <li>デスク上にPCがあり映像が映っている。PCの横にスマホとカップが置かれている。</li>
      <P>これくらいの描写を頭の中でさっとすればOK。</p>
    <h2>現在を意味するなら？</h2>
      <li>The smartphone ＋ has ＋ been + put on the table. (スマホがテーブルに置かれている。)</li>
      <li>The worker ＋ has ＋ been + putting his hands on the laptop. (～がノートPCに両手を置いている。)</li>
      <P>状況描写とほぼ同時にこの表現をイメージできればOK。</p>
  </div>
</article>
</body>
</html>