<!DOCTYPE html>
<html lang="ja">
<head>
<% content_for :title do %>
TOEIC::HACK | Part2
<% end %>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" href="top.css" type="text/css">

    
</head>

<body>
<%= render "shared/header2" %>
<article class="kiji">
  
  <div class="box10">
     <h1>ザックリ解説</h1>
    <ul class=part1_row>
      <li>6W1Hを必ずおさえる！(およそ6割の問題が6W1Hで始まります。)
      <ul class=part1_row>
        <li>What(何が、何の、何を、何に)</li>
        <li>Where(どこで)</li>
        <li>When(いつ)</li>
        <li>Which(どっちが、どっちの)</li>
        <li>Who(誰？)</li>
        <li>Why(なぜ？)</li>
        <li>How(どうやって、どれくらい)</li>
      </ul>
      </li>
      <li>時制をおさえる！
      <ul class=part1_row>
        <li>Do or Did </li>
        <li>Is or Was / Are or Were / Will</li>
        <li>What do ～ / What did ～ etc</li>
      </ul>
      </li>
    </ul>
  </div>
   
  <div class="box11">
    <h2>6W1Hの補足ポイント</h2>
    <ul class=part1_row>
      <li>Whyには要注意！(なぜと訳すとまずい場合がある。)
      <ul class=part1_row>
        <li>Why don't you ～?(～したら？(提案する表現))</li>
        <li>Why don't we ～?(～しませんか？(誘う表現))</li>
      </ul>
      </li>
  </div>
  <div class="box11">
    <h2>時制の補足ポイント</h2>
      <ul class=part1_row>
      <li>疑問詞(6W1H)の次は時制をとらえる。
      <ul class=part1_row>
        <li>What did you eat? と聞かれたら回答は過去形を選ぶ。(ex.I ate an apple.)</li>
        <li>When will you go out? と聞かれたら基本的に未来を意味する回答を選ぶ。</li>
      </ul>
      </li>
  </div>
    
  
</article>
</body>
</html>