@charset "UTF-8";

body, html {height: 100%;
  background-color: white;
  font-family: 'メイリオ',
      'Hiragino Kaku Gothic Pro', sans-serif
}
h1, h2, h3, h4, h5, h6, p, body {
  line-height: 1.77;
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
/* サイト名*/
.site h1 a {color: #000000;
            text-decoration: none}
.site h1 {margin: 0;
            font-size:40px}
/* ナビゲーション*/
.menu ul {margin:0;
          padding: 0;
          list-style: none}
          
.menu li a {display:block;
            padding: 25px 25px;
            color: #000000;
            font-size:14px;
            text-decoration: none}

.menu li a:hover {background-color:#eeeeee}

.menu ul after {content: "";
                display:block;
                clear:both}
                
.menu li {float:left;
          width: auto}

.subtitle {padding: 40px;              /* 余白指定 */
            text-align:  center;        /* 中央寄せ */
            height: 30px }            /* 高さ指定 */

.button a {padding: 10px 15px;
           height: 40px}

.button1 a {padding: 10px 15px;
           height: 25px}
           
.btn-circle-border-simple {display: inline-block;
    width: 125px;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #4169e1;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9rem;
}



.button :hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}

.button :active {
  top: 3px;
  box-shadow: none;
}

.button1 :hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}

.button1 :active {
  top: 3px;
  box-shadow: none;
}

/* コピーライト*/
.copyright p {
            　margin: 0;
              color:#666666;
              font-size:12px;
              bottom: 0;
              padding-top: 10px;
              padding-bottom: 10px
}
/* box9をバーの形にする*/
.box9 {   bottom:0;
           width: 100%;
           position: fixed;
        background-color: #c0c0c0}

.box10  {
             padding: 15px;
              width: 100%} 
.box11  {
             padding: 15px;
              width: 100%} 
/* 全体の横幅を固定 */
.box10, .box11
	{width: 1000px;
	margin-left: auto;
	margin-right: auto}


/* 記事 */
.kiji h1	{margin-top: 0;
	margin-bottom: 20px;
	padding-left: 20px;
	border-left: solid 20px #31c8aa;
	background-color: #EEEEEE;
	font-size: 36px
	}
.kiji h2 {margin-top: 0;
	margin-bottom: 10px;
	padding-left: 20px;
	border-left: solid 20px #31c8aa;
	background-color: #EEEEEE;
	font-size: 20px
	}
.kiji p {
            margin-bottom: 10px
}
	
input[type=submit] {display: inline-block;
    width: 125px;
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    background-color: #4169e1;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9rem;
}


input[type=submit]:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}

input[type=submit]:active {
  top: 3px;
  box-shadow: none;
}



/* BOX1とBOX2を横に並べる設定*/
.boxA:after {content: "";
              display:block;
              clear: both;}



.box1       {float:left;
              width: auto}
              
.box2       {float:right;
              width: auto;} 

.box3       {width: auto} 

.box4       {text-align:  center;
            padding: 15px;
              width: 100%}
              
.box5       {text-align:  center;
             padding: 15px;
             width: 100%} 
              
.box6       {text-align:  center;
             padding: 15px;
              width: 100%} 

.box8       {text-align:  center;
            padding: 11px;
              width: 100%;
              padding-bottom: 35px}
              
.contents_row {text-align:  center;
             padding: 15px;
              width: 100%
}
.pictures_row {text-align:  center;
             padding: 15px;
              width: 100%
}

.comments_row {text-align:  center;
             padding: 15px;
              width: 100%
}

.inputs_row {text-align:  center;
             padding: 15px;
              width: 100%
}

.part1_row {
             padding: 10px;
              width: 100%
}
.part2_row {
             padding:5px;
              width: 100%
}

.content_post{text-align:  center;
                width: 100%
}

.content_post img{max-width: 50%;
                    height: auto
}

.contents {
  width: auto;
  margin: 0 auto;
}

/* BOX Aの下に罫線を挿入*/
.boxA {margin-bottom: 20px;
      border-bottom: solid 1px #dddddd;
      padding-left: 15px;
      padding-right: 15px}
